body {
	display: flex;
}
.navbar-console {
	background-color: white;
	z-index: 5;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.14);
	position: fixed;
}
.navbar-console-brand {
	color: #2196F3 !important;
	font-size: 20px !important;
}
.navbar-console-title {
	font-size: 15px;
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 2px;
	padding-right: 6px;
	margin-bottom: 0px !important;
}
.navbar-upload {
	font-size: 12px !important;
	margin: 7px;
	padding: 5px 5px 5px 5px;
	border: none;
	border-radius: 3px;
}
.is-hidden {
  display: none;
}
.file_input_div {
  margin: auto;
  width: 250px;
  height: 50px;
}
.confirm_upload_btn {
  padding-left: 10px;
  padding-right: 10px;
}
.cancel_upload_btn {
  padding-right: 10px;
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}
.file_input {
  float: right;
  z-index: 10;
  padding-right: 5px;
}
#file_input_text_div {
  height: 51px;
  margin-top: -10px;
  margin-left: 50px;
  color: gray;
}
.cancel-anim-active {
  left: -10px;
}
.none {
  display: none !important;
}
.no-borders {
  border-width: 0px;
}
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
	top: 51px;
  z-index: 3;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgb(250, 250, 250);
  border-right-color: rgb(150, 150, 150);
  border-right-width: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
h5.sidebar-title {
	margin-top: 15px;
	margin-left: 15px;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
	top: 100px;
  width: 100%;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
#content-header {
	background-color: #FDFDFD;
	position: absolute;
	z-index: 1;
	top: -95px;
	left: 0px;
	height: 95px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: rgba(200, 200, 220, 0.5);
	font-weight: bold;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.65);
	vertical-align: bottom;
}
#content-header table {
  height: 90px;
}
#content-header td {
	vertical-align: bottom;
}
#content-container {
	top: 100px;
}
table {
	background-color: transparent;
}
td {
	padding-right: 30px;
}
.shipment { width: 60px; }
.packing-slips-seq { width: 100px; }
.sys-input-type { width: 68px; }
.lg-wh { width: 40px; }
.wh-loc { width: 24px; }
.cyn-wh { width: 24px; }
.manufacture { width: 58px; }
.division { width: 51px; }
.lg-bay-dock { width: 63px; }
.inventory-type { width: 115px; }
.model-num { width: 170px; }
.model-desc { width: 300px; font-size: 12px; }
.corrected-model { width: 75px; }
.serial-num { width: 108px; }
.tag-removal { width: 66px; }
.corrected-serial { width: 108px; }
.cyn-serial { width: 75px; }
.cyn-cosmetic-grade { width: 45px; }
.cyn-func-test-failed { width: 85px; }
.recd-qty { width: 32px; }
.no-recd-qty { width: 52px; }
.packing-slip-qty { width: 54px; }
.ship-load-packing-slip { width: 79px; }
.ship-truck-load-num { width: 130px; }
.hold-not-sold { width: 110px; }
.offer { width: 40px; }
.delivery-storage { width: 112px; }
.warranty { width: 64px; }
.cyn-prev-wh-loc { width: 57px; }
.recd-truck-load-num { width: 82px; }
.recd-container-num { width: 87px; }
.recd-date { width: 65px; }
.condition { width: 100px; }
.purchased-pricing-rate { width: 80px; }
.lg-unit-price { width: 80px; }
.lg-amount { width: 80px; }
.daeheung { width: 80px; }
.cyn-cost { width: 80px; }
.vip-cost { width: 80px; }
.wholesale-cost { width: 80px; }
.original-market-cost { width: 80px; }
.price-off-rate { width: 80px; }
.retail-cost { width: 80px; }
.sold-out-act-cost { width: 80px; }
.invoice-num { width: 46px; }
.tf-po-num { width: 74px; }
.sold-out { width: 30px; }
.remain { width: 45px; }

.overlay-popup {
  background-color: white;
  max-width: 950px;
  margin: 50px;
  padding: 20px;
  border-radius: 4px;
  transition: all 0.3s;
}
.overlay-popup table {
  width: 100%;
  margin-bottom: 20px;
}
.overlay-popup table tr:hover {
  background-color: #BBDEFB;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.overlay-popup table td {
  padding: 5px;
}
.overlay-popup table td:first-child {
  white-space: nowrap;
}
.overlay-popup table td:last-child {
  width: 99%;
  max-width: 400px;
}
#ItemImage {
  max-width: 400px;
  max-height: 400px;
}
.overlay-label {
  font-weight: bold;
  text-align: right;
  color: rgba(0, 0, 0, 0.65);
}
.overlay-input {
  background-color: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
  width: 100%;
  max-width: 300px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.overlay-input:focus {
  background-color: #BBDEFB;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #2196F3;
  border-width: 2px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 16px;
}
.overlay-btn {
  border-radius: 2px;
  font-weight: bold;
  padding: 8px 10px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.overlay-btn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#itemSold {
  background-color: #43A047;
  float: left;
  margin-right: 8px;
  color: white;
}
#deleteItem {
  background-color: #F44336;
  float: left;
  margin-right: 4px;
  color: white;
}
#cancelSave {
  background-color: white;
  float: right;
  margin-left: 8px;
}
#saveToFirebase {
  background-color: #2196F3;
  float: right;
  margin-left: 4px;
  color: white;
}

/* Sidebar Styles */
.sidebar-nav {
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
    border-right-style: solid;
    border-right-width: 0.5px;
    border-right-color: rgba(200, 200, 220, 0.75);
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
  	position: relative;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    padding-bottom: 10px;
    border-bottom-width: 1px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
.new_inventory_item {
  min-height: 50px;
  padding-left: 15px;
  vertical-align: middle;
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	border-bottom-color: rgba(200, 200, 220, 0.5);
}
.new_inventory_item:hover {
  cursor: pointer;
  background-color: rgba(33, 150, 243, 0.2);
}
.new_inventory_item table {
  min-height: 50px;
}
